.controlPanel {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 52px;
    margin-bottom: 6px;
    padding: 10px;

    background-color: rgb(58, 56, 56);
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 20px #040404;
    color: aliceblue;
}

.button {
    border: 1.3px solid #454444;
    border-radius: 6px;
    background: #454444;
    color: aliceblue;

    padding: 3px;
    margin-right: 5px;

    font-size: 16px;
    line-height: 1;
}

.button:hover {
    background: #353434;
    transform: scale(1.02);
    cursor: pointer;
}

.chat {
    border: 1.3px solid #454444;
    border-radius: 6px;
    background: #454444;
    color: aliceblue;
    width: 80px;

    padding: 3px;
    margin-left: 70%;

    font-size: 16px;
    line-height: 1;
}

.chat:hover {
    background: #353434;
    transform: scale(1.02);
    cursor: pointer;
}

.userInfo {
    display: flex;
    flex-direction: column;
    position: absolute;
   
    border: none;
    border-radius: 0 0 6px 6px;
    line-height: 1;
    background-color: #353434;
    margin-top: 3.2%;
    margin-left: 5.2%;
    padding: 5px;
}