.resetMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

    margin-left: 34%;
    margin-top: 3%;

    padding: 25px;

    width: 400px;
    height: 360px;
    border-radius: 10px;
    border: 1px solid silver;
    box-shadow: 0px 5px 20px #040404;
    color: rgb(43, 43, 44);
    background-color: aliceblue;
    opacity: 0.95;
}

.btn {
     background: silver;
     border: silver 1px solid;
     border-radius: 6px;
     font-size: 15px;
}

.btn:hover {
    opacity: 0.9;
    border-color: rgb(48, 48, 48);
    cursor: pointer;
}